html
  height: 100%
body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color: #D8D8D8
  color: #464545
  padding: 0px
  margin: 0px
  height: 100%

a
  color: #00B7FF
h1
  font: 35px Georgia, Helvetica, Arial, sans-serif
  font-weight: bold
  
#prevcontent
  height: 100%
  background-color: #E6E6E6
  margin: 0px 40px 40px 40px
  padding-top: 40px
  padding: 20px

#content
  background-color: white
  padding: 20px 30px
  margin-top: 40px
  border-radius: 5px  
  box-shadow: 0px 0px 9px rgba(0,0,0,0.15)

#copyright
  color: grey
  font-size: 65%
  margin-left: 35px
  
#register
  width: 60%
  clear: both
#register p
  height: 30px
#register input.input
  width: 98%  
  height: 20px
#register select.select
  width: 100%
#register input.submit
  width: auto
  padding: 5px
#register td
  height: 35px
#button-submit
  text-align: center;

#right-login
  font-size: 95%
  margin-bottom: 5px
#right-login input.input
  width: 180px
  margin-left: 5px
  margin-right: 10px
  height: 15px
#right-login input.submit
  margin-left: 10px
  width: 100px
#right-login table
  width: 100%
#right-login td
  width: 50%
  
#right-login td.loginlabel
  padding-left: 10px

.input
  border: 0px
  border-radius: 5px
  box-shadow: 1px 1px 2px #C0C0C0 inset
  background-color: #F6F6F6
  background: linear-gradient(top, #FAFAFA 0%, #F6F6F6 100%)  
  background: -moz-linear-gradient(top, #FAFAFA 0%, #F6F6F6 100%) 
  background: -webkit-linear-gradient(top, #FAFAFA 0%,#F6F6F6 100%) 
  padding: 5px
  font-size: 110%
  
.select
  border: 1px solid #D8D8D8
  border-radius: 5px
  box-shadow: 1px 1px 2px #C0C0C0 inset
  background-color: #FAFAFA
  padding: 6px
  height: 30px
  font-size: 110%

#head
  width: 100%
  clear: both
  border-bottom: 1px solid #D8D8D8
 
#foot
  width: 100%
  padding-top: 20px
  font-size: 90%
  color: grey
  clear: both
  
#username
  font-weight: bold
  
.input_message_register 
  padding-left: 30px
  font-size: 80%
  width: 40%

#error_login_message
  padding-left: 50px
  padding-top: 2px;
  margin-top: 5px
  margin-bottom: 15px
  font-size: 80%
  height: 25px
  
.error
  color: red
  background: url('../images/error.png') no-repeat scroll 2% 52%;

.valid
  color: green
  background: url('../images/valid.png') no-repeat scroll 2% 52%;
  
#badlogin
  width: 100%
  margin-left: 35%

#div_register_password
  height: 8px
  margin: 0px
  white-space: pre
  border-radius: 2px
  
#div_register_password_border
  width: 50px
  padding: 1px
  margin-right: 10px
  margin-top: -20px
  border-radius: 2px
  z-index: 200
  position: relative;
  float: right;
  
.passwordstrenght
  border: 1px solid grey 
  box-shadow: 0px 0px 9px rgba(0,0,0,0.15)
  
.passwordweak
  background-color: #FE2E2E
  background: linear-gradient(top, #F5A9A9 0%, #FE2E2E 100%)  
  background: -moz-linear-gradient(top, #F5A9A9 0%, #FE2E2E 100%) 
  background: -webkit-linear-gradient(top, #F5A9A9 0%,#FE2E2E 100%) 
  box-shadow: 0px 0px 9px rgba(0,0,0,0.15)
  width: 10%
  
.passwordmediumweak
  background-color: #FF8000
  background: linear-gradient(top, #F7BE81 0%, #FF8000 100%)  
  background: -moz-linear-gradient(top, #F7BE81 0%, #FF8000 100%) 
  background: -webkit-linear-gradient(top, #F7BE81 0%,#FF8000 100%) 
  box-shadow: 0px 0px 9px rgba(0,0,0,0.15)
  width: 30%

.passwordmedium
  background-color: #2E64FE
  background: linear-gradient(top, #CED8F6 0%, #2E64FE 100%)  
  background: -moz-linear-gradient(top, #CED8F6 0%, #2E64FE 100%) 
  background: -webkit-linear-gradient(top, #CED8F6 0%,#2E64FE 100%) 
  box-shadow: 0px 0px 9px rgba(0,0,0,0.15)
  width: 55%
  
.passwordstrongmedium
  background-color: #0B6138
  background: linear-gradient(top, #58FAD0 0%, #0B6138 100%)  
  background: -moz-linear-gradient(top, #58FAD0 0%, #0B6138 100%) 
  background: -webkit-linear-gradient(top, #58FAD0 0%,#0B6138 100%) 
  box-shadow: 0px 0px 9px rgba(0,0,0,0.15)
  width: 75%
  
.passwordstrong
  background-color: #04B404
  background: linear-gradient(top, #2EFE9A 0%, #04B404 100%)  
  background: -moz-linear-gradient(top, #2EFE9A 0%, #04B404 100%) 
  background: -webkit-linear-gradient(top, #2EFE9A 0%,#04B404 100%) 
  box-shadow: 0px 0px 9px rgba(0,0,0,0.15)
  width: 100%
  
#tableregister
  width: 100%
  
#upload
  display: inline-table